<h1><%= test[0] %></h1>
<div>
<img style="display:block; position:absolute;" src="https://tile.openstreetmap.fr/osmfr/<%= test[0] %>/<%= test[1] %>/<%= test[2] %>.png" alt="">
<img style="display:block; position:absolute;" src="https://tiles.openseamap.org/seamark/<%= test[0] %>/<%= test[1] %>/<%= test[2] %>.png" alt="">
</div>
